*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

html {
  font-size: 1.25em;
}

body {
  font-family: "Nunito", sans-serif;
}
