:root {
  --txt-black: #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  font-size: 1.25em;
}

body {
  font-family: "Nunito", sans-serif;
}

/* navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar__links ul {
  display: flex;
}

.navbar__links li {
  margin-left: 1rem;
}

.navbar__links a {
  color: var(--txt-black);
}
