:root {
  --txt-black: #000;
  --txt-white: #fff;
  --txt-orange: #ec6435;
  --bg-orange: #ec6435;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  font-size: 1.25em;
}

body {
  font-family: "Nunito", sans-serif;
}

/* navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 8rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar__items {
  display: flex;
}

.navbar__items li {
  margin-left: 2.5rem;
}

.navbar__items a {
  color: var(--txt-black);
}

.navbar__item--arrow::after {
  content: "\25BE";
  padding-left: 4px;
}

main {
  margin: 0 8rem;
}

/* hero */
.hero {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  margin-top: 5rem;
}

.hero__title {
  color: var(--txt-black);
  font-size: 3.6rem;
}

.hero__subtitle {
  text-transform: uppercase;
  color: var(--txt-orange);
  font-size: 1.2rem;
}

.button {
  height: 3.2rem;
  font-size: 0.9rem;
  font-family: inherit;
  background-color: var(--bg-orange);
  padding: 0rem 2rem;
  border-radius: 0rem 1.5rem 1.5rem 1.5rem;
  color: var(--txt-white);
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.1s ease;
  cursor: pointer;
  border: 2px solid transparent;
  margin-top: 1rem;
}

.button--viewall:hover {
  background-color: #fff;
  color: var(--bg-orange);
  border: 2px solid var(--bg-orange);
}

/* section images pets */

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.6rem;
}

.cards__item {
}

.cards__item img {
  height: 20rem;
  border-radius: 2rem;
  width: 17rem;
  object-position: center;
  object-fit: cover;
}
